:root {
  --neutralblack: rgba(10, 10, 10, 1);
  --neutraloffwhite: rgba(199, 199, 199, 1);
  --neutralwhite: rgba(255, 255, 255, 1);
  --primary: rgba(211, 233, 122, 1);
  --heading-one-font-family: "Bebas Neue", Helvetica;
  --heading-one-font-weight: 400;
  --heading-one-font-size: 101px;
  --heading-one-letter-spacing: 0px;
  --heading-one-line-height: 89.99999761581421%;
  --heading-one-font-style: normal;
  --body-medium-font-family: "Manrope", Helvetica;
  --body-medium-font-weight: 400;
  --body-medium-font-size: 18px;
  --body-medium-letter-spacing: 0px;
  --body-medium-line-height: 150%;
  --body-medium-font-style: normal;
  --misc-button-font-family: "Manrope", Helvetica;
  --misc-button-font-weight: 700;
  --misc-button-font-size: 16px;
  --misc-button-letter-spacing: 0px;
  --misc-button-line-height: 100%;
  --misc-button-font-style: normal;
  --heading-two-font-family: "Bebas Neue", Helvetica;
  --heading-two-font-weight: 400;
  --heading-two-font-size: 76px;
  --heading-two-letter-spacing: 0px;
  --heading-two-line-height: 100%;
  --heading-two-font-style: normal;
  --body-small-font-family: "Manrope", Helvetica;
  --body-small-font-weight: 500;
  --body-small-font-size: 16px;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: 160.0000023841858%;
  --body-small-font-style: normal;
  --heading-three-font-family: "Manrope", Helvetica;
  --heading-three-font-weight: 500;
  --heading-three-font-size: 32px;
  --heading-three-letter-spacing: 0px;
  --heading-three-line-height: 139.9999976158142%;
  --heading-three-font-style: normal;
  --misc-link-font-family: "Manrope", Helvetica;
  --misc-link-font-weight: 700;
  --misc-link-font-size: 16px;
  --misc-link-letter-spacing: 0px;
  --misc-link-line-height: 150%;
  --misc-link-font-style: normal;
  --misc-tag-font-family: "Manrope", Helvetica;
  --misc-tag-font-weight: 500;
  --misc-tag-font-size: 14px;
  --misc-tag-letter-spacing: 0px;
  --misc-tag-line-height: 150%;
  --misc-tag-font-style: normal;
}
