:root {
    --accent: rgba(71, 133, 255, 1);
    --primary: rgba(16, 18, 24, 1);
    --text: rgba(56, 57, 62, 1);
    --white: rgba(255, 255, 255, 1);
    --secondary: rgba(255, 164, 213, 1);
    --primary-500: rgba(32, 180, 134, 1);
    --purple-1: rgba(163, 163, 245, 1);
    --light-blue-1: rgba(174, 229, 255, 1);
    --graywhite: rgba(255, 255, 255, 1);
    --navigation-font-family: "Rubik", Helvetica;
    --navigation-font-weight: 500;
    --navigation-font-size: 16px;
    --navigation-letter-spacing: 0.16px;
    --navigation-line-height: 100%;
    --navigation-font-style: normal;
    --caption-1-font-family: "Rubik", Helvetica;
    --caption-1-font-weight: 400;
    --caption-1-font-size: 12px;
    --caption-1-letter-spacing: 0px;
    --caption-1-line-height: 139.9999976158142%;
    --caption-1-font-style: normal;
    --heading-5-font-family: "Rubik", Helvetica;
    --heading-5-font-weight: 600;
    --heading-5-font-size: 24px;
    --heading-5-letter-spacing: 0px;
    --heading-5-line-height: 139.9999976158142%;
    --heading-5-font-style: normal;
    --body-large-500-font-family: "Public Sans", Helvetica;
    --body-large-500-font-weight: 500;
    --body-large-500-font-size: 20px;
    --body-large-500-letter-spacing: 0px;
    --body-large-500-line-height: 28px;
    --body-large-500-font-style: normal;
    --body-2-font-family: "Rubik", Helvetica;
    --body-2-font-weight: 400;
    --body-2-font-size: 16px;
    --body-2-letter-spacing: 0px;
    --body-2-line-height: 160.0000023841858%;
    --body-2-font-style: normal;
    --button-font-family: "Rubik", Helvetica;
    --button-font-weight: 600;
    --button-font-size: 16px;
    --button-letter-spacing: 0px;
    --button-line-height: 100%;
    --button-font-style: normal;
    --heading-6-font-family: "Rubik", Helvetica;
    --heading-6-font-weight: 600;
    --heading-6-font-size: 20px;
    --heading-6-letter-spacing: 0px;
    --heading-6-line-height: 139.9999976158142%;
    --heading-6-font-style: normal;
    --body-3-font-family: "Rubik", Helvetica;
    --body-3-font-weight: 400;
    --body-3-font-size: 14px;
    --body-3-letter-spacing: 0px;
    --body-3-line-height: 160.0000023841858%;
    --body-3-font-style: normal;
    --sub-heading-font-family: "Rubik", Helvetica;
    --sub-heading-font-weight: 500;
    --sub-heading-font-size: 20px;
    --sub-heading-letter-spacing: 0px;
    --sub-heading-line-height: 100%;
    --sub-heading-font-style: normal;
    --display-3-font-family: "Rubik", Helvetica;
    --display-3-font-weight: 500;
    --display-3-font-size: 64px;
    --display-3-letter-spacing: 0px;
    --display-3-line-height: 120.00000476837158%;
    --display-3-font-style: normal;
    --body-1-font-family: "Rubik", Helvetica;
    --body-1-font-weight: 400;
    --body-1-font-size: 20px;
    --body-1-letter-spacing: 0px;
    --body-1-line-height: 160.0000023841858%;
    --body-1-font-style: normal;
  }